@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: white;
}
h1, h3, p, ul, {
	color: rgba(0,0,0,.9);
	font-family: 'Lato', sans-serif;
}
p, ul, h3 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}
h3 {
	font-size: 18;
	font-weight: bold;
	text-transform: uppercase;
}
p {
	font-size: 14;
	line-height: 1.5em;
}
a {
	color: rgba(0,0,0,.9);
}
.navbar {
  overflow: hidden;
  background-color: rgba(255,255,255,.9);
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 20px;
}

.navbar a {
  float: right;
  /*display: block;*/
  color: #000000;
  text-align: left;
  padding: 20px 40px 20px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #E24B2C;
}
#navbar-brand{
	float: left;
}
.hero-image {
	background-size: cover;
}
.container {
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;*/
	padding-bottom: 100px;*/
}