@import url('https://fonts.googleapis.com/css?family=Lato');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: white;
	color: rgba(0,0,0,.9);
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: center;
}
header {
	background-image: url(../images/workspacehero.png);
	height: 100vh;
	background-position: center;
	background-size: cover;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1.5em;
}
h5 {
	font-weight: bolder;
	font-size: 1em;
	padding-bottom: .5em;
}
p {
	line-height: 1.5em;
	display: block;
	padding-bottom: .5em;
}
a {
	color: rgba(0,0,0,.9);
}
nav {
  overflow: hidden;
  background-color: rgba(255,255,255,.9);
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  float: left;
  color: #000000;
  padding: 1.2em;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
}
nav a:hover {
  color: #E24B2C;
}
footer {
	text-align: center;
	padding: 2em;
}
#MRZ-logo{
	float: left;
}
#workitem {
	/*background-color: violet;*/
	display: inline-block;
	margin-top: 2em;
	margin-bottom: 3em;
}
.navlinks {
	float: right;
}
.container {
	width: 60%;
	text-align: center;
	margin: 5em auto;
	display: block;
	/*background-color: #FFE2B8;*/
}
.wide_container {
	width: 80%;
	margin: 5em auto;
	display: block;
	/*background-color: #FFE2B8;*/
}
.logos {
	width: 33.33%;
	float: left;
	display: inline-block;
}
.copy {
	/*background-color: #FFE2B8;*/
	margin-left: 3%;
	float: right;
	width: 63.66%;
	display: inline-block;
	text-align: left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	overflow: auto;
}

@media screen and (max-width: 920px) {
	.container {
	width: 75%;
	text-align: center;
	margin: 5em auto;
	display: block;
	/*background-color: #FFE2B8;*/
	}

}

@media screen and (max-width: 724px) {
	#workitem {
	/*background-color: violet;*/
	display: inline-block;
	margin-top: 2em;
	margin-bottom: 3em;
	}
	.container {
	width: 80%;
	text-align: center;
	margin: 5em auto;
	display: block;
	/*background-color: #FFE2B8;*/
	}
	.wide_container {
	width: 80%;
	margin: 5em auto;
	display: block;
	/*background-color: #FFE2B8;*/
	}
	.logos {
	width: 80%;
	float: none;
	display: block;
	clear: both;
	margin: auto;
	}
	.copy {
	/*background-color: #FFE2B8;*/
	margin-left: none;
	margin: auto;
	float: none;
	width: 80%;
	display: block;
	text-align: left;
	padding-top: 3em;
	clear: both;
	}
}

