body {
	background-color: white;
}
h1, h3, p, ul, {
	color: rgba(0,0,0,.9);
	font-family: "Avenir Next", sans-serif;
}
p, ul, h3 {
	text-align: center;
	font-family: "Avenir Next", sans-serif;
}
ul {
	list-style-type: none;
}
#sitetitle {
	text-align: left;
	font-family: "Avenir Next", sans-serif;
}
#slogan {
	font-style: normal;
	text-align: left;
	font-family: "Avenir Next", sans-serif;
}
.hero-image {
	background-size: cover;
}
hr {
	width: 300;
	color: rgba(0,0,0,.9);
}